**/node_modules/**
**/dist/**

**.secret
**.secrets
**/.env/**
**.env
**/*.env.dev
**/*.env.qat
**/*.env.stg
**/*.env.prd
**/conf/*/k8s.yml
**/*-db-data/**
**/coverage/**
**/_notes/**
**/out.*
**/init/*-init.js 
**/init/*-init.sh


