# docker-compose.yml
version: "3.8"
services:
  mongo-db:
    image: mongo:5.0
    container_name: mongo-db
    restart: unless-stopped
    ports:
        - "27017:27017"    
    environment:
        - MONGO_INITDB_DATABASE=my_db     
        - MONGO_INITDB_ROOT_USERNAME=my_root_username
        - MONGO_INITDB_ROOT_PASSWORD=my_root_password        
    volumes:
    #   - ./mongo-db-data/db:/data/db
    #   - ./data/dev.archive:/Databases/dev.archive
    #   - ./data/production:/Databases/production
      - ./mongo-db/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro          

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: unless-stopped
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo-db
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=false
      - ME_CONFIG_SITE_BASEURL=/mongo-express/
      # CONNECT mongo-express WITH USER: my_root_username 
      # - ME_CONFIG_MONGODB_AUTH_DATABASE=admin
      # - ME_CONFIG_MONGODB_AUTH_USERNAME=my_root_username
      # - ME_CONFIG_MONGODB_AUTH_PASSWORD=my_root_password   

      # CONNECT mongo-express WITH USER: my_db_username
      - ME_CONFIG_MONGODB_AUTH_DATABASE=my_db
      - ME_CONFIG_MONGODB_AUTH_USERNAME=my_db_username
      - ME_CONFIG_MONGODB_AUTH_PASSWORD=my_db_password   

    links:
      - mongo-db
    ports:
      - "8081:8081"