.carousel {
  background-color: none;
  height: 90%;
  width: 95%;  
  display: flex;
}

.carousel-inner {
  background-color: gainsboro;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction:row; 
  align-items: center;
  justify-content: center;
}

.carousel-btn {
  position: absolute;
  text-align: center;  
  font-size: 3rem;
  font-weight: 900;
  width: 3.5rem;
  height: 3.6rem; 
  border-radius: 50%;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255, 0.5);
  cursor: pointer;  
  background-color: rgb(0, 0, 0, 0.5);  
}

.carousel-btn:hover, .carousel-btn:focus{
  color: white;
  background-color:rgb(0, 0, 0, 0.7);  
}

.carousel-btn:focus{
  outline: 1px solid black;
}

.carousel-btn.prev {
  left: 1rem;
  
}

.carousel-btn.next {
  right: 1rem;
}

.carousel-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: rgb(13, 0, 255);
}


.carousel-empty {
  height: 10%;
  width: 20%;
  text-align: center;
  
  background-color: rgb(255, 0, 0);
}



